Source: minecraft-client
Section: games
Priority: extra
Maintainer: Marcin Antczak <marcin.antczak@neutrico.pl>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.minecraft.net
Vcs-Git: ssh://git@github.com/marcinant/deb-minecraft-client.git
Vcs-Browser: https://github.com/marcinant/deb-minecraft-client

Package: minecraft-client
Architecture: all
Depends: ${misc:Depends}, openjdk-6-jre | sun-java6-jre, wget | curl, imagemagick
Description: Minecraft
 Downloads and installs the official Minecraft client.